<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="clientMainFrame" class="com.erigir.lucid.LucidRelationMainFrame"
          p:mainPanel-ref="mainPanel"
          p:mainMenuBar-ref="mainMenuBar" />

    <bean id="mainPanel" class="com.erigir.lucid.MainPanel"
          p:databaseConnectionParamsPanel-ref="databaseConnectionParamsPanel"
          p:searchPanel-ref="searchPanel"
    />


    <bean id="mainMenuBar" class="com.erigir.lucid.MainMenuBar"
          p:mainFrame-ref="clientMainFrame"
          p:viewLogFileAction-ref="viewLogFileAction"
          p:testLuceneAction-ref="testLuceneAction"
            />

    <bean id="databaseConnectionParamsPanel" class="com.erigir.lucid.DatabaseConnectionParamsPanel" />
    <bean id="searchPanel" class="com.erigir.lucid.SearchPanel" />

    <!-- Actions -->
    <bean id="viewLogFileAction" class="com.erigir.lucid.action.ViewLogFileAction" />
    <bean id="testLuceneAction" class="com.erigir.lucid.action.TestLuceneAction" />

</beans>
